@use "@styles/font";
@use "@styles/color";
@use "@styles/space";

.contactModal {
  min-width: 343px;
  min-height: 18rem;
  background-color: #fff;
  border-radius: 12px;
  padding: 1.3rem 1.5rem;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.title {
  font: font.$text-md-medium;
  font-size: 1.125rem;
  margin-block-start: 1.3rem;
}

.desc {
  font: font.$text-sm-regular;
  margin-block-start: -0.5rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  margin-top: auto;
  margin-block-start: 2rem;
}

.buttons > *:first-child {
  font: font.$text-md-medium;
}

.buttons > *:last-child {
  background-color: color.$primary-600;
  border-radius: 8px;
  padding: 0.425rem space.$s2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex: 1;
}
