@use "@styles/color";
@use "@styles/font";

.header {
  width: min(91%, 80rem);
  margin: 0 auto;
  height: 80px;

  // padding: 0 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  position: relative;
}

.header button {
  background-color: transparent;
  border: none;
}

.navLinks {
  position: absolute;
  bottom: -227px;
  background-color: white;
  border: 1px solid color.$gray-300;
  border-radius: 5px;
  width: 100%;
  visibility: hidden;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 2.9rem;
    gap: 2rem;

    // display: none;
  }

  ul li a {
    text-decoration: none;
    color: color.$gray-600;
    font: font.$text-md-medium;
  }

  &[aria-hidden="false"] {
    visibility: visible;
  }
}

.dashboardLink {
  width: 10.3rem;
  background-color: color.$primary-600;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  padding: 0.8em 0;
  display: none;
}

// hero banner
.hero {
  width: min(89%, 80rem);
  margin: 0 auto;
}

.hero img {
  width: 100%;
}

.contactButton {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  padding: 1rem;
  background: #7f56d9;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border: none;
  cursor: pointer;

  &:hover {
    background: #6941c6;
  }
}
