@use "@styles/color";
@use "@styles/space";
@use "@styles/font";
@use "@styles/breakpoint";

.filter {
  display: flex;
  flex-direction: column;
  gap: space.$s4;

  @media screen and (min-width: breakpoint.$tablet) {
    flex-direction: row;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.filterSelect {
  width: 100%;

  @media screen and (min-width: breakpoint.$tablet) {
    width: -moz-fit-content;
    width: fit-content;
    min-width: 160px;
  }
}

.filterInput {
  width: 100%;
  border: 1px solid color.$gray-300;
  border-radius: 8px;
  position: relative;
  height: 44px;
  display: flex;
  align-items: center;

  @media screen and (min-width: breakpoint.$tablet) {
    width: -moz-fit-content;
    width: fit-content;
    min-width: 200px;
  }

  @media screen and (min-width: breakpoint.$desktop) {
    width: 280px;
  }
}

.filterInput img {
  padding-left: 1em;
}

.filterInput input {
  height: 90%;
  border: none;
  outline: none;
  color: color.$gray-900;
  margin-left: 0.4em;
  background-color: #fff;
}
