@use "@styles/color";
@use "@styles/space";
@use "@styles/font";

.select {
  position: relative;
  box-sizing: border-box;
  width: 100%;

  button {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid color.$gray-300;
    border-radius: 8px;
    height: 2.75rem;
    box-shadow: 0 1px 2px 0 #1018280d;
    padding: 0 space.$s3;
    color: color.$gray-900;
    outline: transparent;

    ul {
      position: absolute;
      top: 2rem;
      left: 0;
    }

    &[aria-expanded="false"] ~ ul {
      visibility: hidden;
    }

    &[data-empty="true"] {
      color: color.$gray-500;
    }

    & img:last-of-type {
      margin-left: auto;

      &[data-open="true"] {
        transform: rotate(180deg);
      }
    }

    &:disabled {
      background-color: color.$gray-50;
      border-color: color.$gray-300;
      color: color.$gray-500;
    }
  }

  &:focus-within {
    button {
      border-color: color.$primary-300;
      box-shadow: 0 0 0 4px color.$primary-100;
    }
  }
}
